.menu {
    margin: 0;
    padding: 0;

    li {
        display: block;

        a {
            padding: ms(0);
            display: block;
        }
    }

    .active {
        color: map-get($colours, blue);
    }
}

.drawer,
.main-content {
    background-color: map-get($colours, white);
}