{{#site-drawer drawerData as |drawerData|}}
{{site-header drawerData=drawerData}}
{{ember-notify}}

<div id="content-wrapper" class="main {{routeStyleNamespaceClassSet}}">
    {{outlet}}
</div>

{{/site-drawer}}